<div class="body">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
  <div class="new-header">
    <%= link_to "Academiclabo", "/", class: :logo%>
  </div>
  <div class="user-main">
    <div class="follow-form">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <%= render partial: 'relationships/follow_button', user: @user, class: :follow_button %>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th class="table_col1">ニックネーム</th>
          <td class="table_col2"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="table_col1">学年</th>
          <td class="table_col2"><%= @user.grade.name %></td>
        </tr>
        <tr>
          <th class="table_col1"><%= link_to "フォロー", follow_path, class: :follow_link %></th>
          <td class="table_col2">
            <%= link_to "#{@user.following_ids.count}人", follow_path, class: :follow_link %>
          </td>
        </tr>
        <tr>
          <th class="table_col1"><%= link_to "フォロワー", follow_path, class: :follow_link %></th>
          <td class="table_col2">
            <%= link_to "#{@user.follower_ids.count}人", follower_path, class: :follower_link %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="center-box">
      <h2 class="center-title"><%= "#{@user.nickname}さんの投稿" %></h2>
      <div class="cols">
        <%= render partial: 'posts/post', collection: @user.posts %>
      </div>
    </div>
  </div>
</div>