<div class="body">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
    <div class="new-labo">
      <%= link_to "Academiclabo", "/", class: :new_logo%>
    </div>
    <section class="et-hero-tabs">
      <div class="et-hero-tabs-container">
        <a class="et-hero-tab" href="#tab-register">新規登録機能</a>
        <a class="et-hero-tab" href="#tab-session">ログイン機能</a>
        <a class="et-hero-tab" href="#tab-post">投稿機能</a>
        <a class="et-hero-tab" href="#tab-show">閲覧機能</a>
        <a class="et-hero-tab" href="#tab-search">検索機能</a>
        <a class="et-hero-tab" href="#tab-logo">ロゴ機能</a>
        <span class="et-hero-tab-slider"></span>
      </div>
    </section>
    <main class="et-main">
      <section class="et-slide" id="tab-register">
        <h1 class="et-title">新規登録機能について</h1>
        <%= image_tag "スクリーンショット 2021-04-06 17.43.58.png", class:"et-image" %>
        <h3 class="et-message">トップページ右上の新規登録ボタンから新規登録ページに遷移することができます。</h3>
      </section>
      <section class="et-slide" id="tab-session">
        <h1 class="et-title">ログイン・ログアウト機能について</h1>
        <%= image_tag "スクリーンショット 2021-04-06 17.44.20.png", class:"et-image" %>
        <h3 class="et-message">トップページ右上のログインボタンからログインページに遷移するこができ、ログアウトボタンを押すとログアウトすることができます。</h3>
      </section>
      <section class="et-slide" id="tab-post">
        <h1 class="et-title">投稿機能について</h1>
        <%= image_tag "スクリーンショット 2021-04-06 17.44.30.png", class:"et-image" %>
        <h3 class="et-message">トップページ右下の投稿ボタンから投稿ページに遷移することができます。</h3>
      </section>
      <section class="et-slide" id="tab-show">
        <h1 class="et-title">閲覧機能について</h1>
        <div class="et-images">
          <%= image_tag "スクリーンショット 2021-04-06 17.44.49.png", class:"et-image" %>
          <%= image_tag "スクリーンショット 2021-04-06 17.44.59.png", class:"et-image" %>
        </div>
        <h3 class="et-message">各カードのユーザー名をクリックするとユーザー詳細ページに遷移することができ、タイトルをクリックすると投稿詳細ページに遷移することができます。</h3>
      </section>
      <section class="et-slide" id="tab-search">
        <h1 class="et-title">検索機能について</h1>
        <%= image_tag "スクリーンショット 2021-04-06 17.45.51.png", class:"et-image" %>
        <h3 class="et-message">トップページ上部の検索フォームから投稿を検索することができます。</h3>
      </section>
      <section class="et-slide" id="tab-logo">
        <h1 class="et-title">ロゴ機能について</h1>
        <%= image_tag "スクリーンショット 2021-04-06 18.05.54.png", class:"et-image" %>
        <h3 class="et-message">各ページ上部にあるAcademiclaboのロゴをクリックすると、Academiclaboのトップページに遷移します。</h3>
      </section>
    </main>
  </div>
</div>