<div class="card">
  <% if post.image.present? %>
    <%= link_to image_tag(post.image, class: :card_img ), post_path(post) %>
  <% end %>
  <div class="card_body">
    <p class="card_summary">
      <%= post.text %>
    </p>
    <%# if current_user.id == @post.user.id  %>
      <%= link_to "編集", edit_post_path(post), method: :get, class: "post-edit-btn" %>
      <%= link_to "削除", post_path(post), method: :delete, class:"post-destroy-btn" %>
    <%# end %>
    <%= link_to "by #{post.user.nickname}", "#", class: :card_user %>
  </div>
</div>