<%= render "shared/header" %>
<div class='main'>
  <div class="left-box">
  </div>
  <div class="center-box">
    <%= render partial: 'post', collection: @posts %>
  </div>
  <div class="right-box">
    <%@tags.each do |tag| %>
      <ul>
        <li class="grade-link"><%= link_to tag.grade.name, post_tags_path(tag), class: "grade_link" %></li>
      </ul>
    <%end%>
  </div>
  <div>
    <%= link_to(new_post_path, class: 'post-btn') do %>
      <span class='post-btn-text'>投稿する</span>
      <%= image_tag 'pencil.png' , size: '185x50' ,class: "post-btn-icon" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>