<div class="body">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  <div class="content">
    <div class="new-header">
      <%= link_to "Academiclabo", "/", class: :logo%>
    </div>
    <div class="posts-main">
      <%= form_with model: @post, url: posts_path, local: true do |f| %>
        <h2 class="new-top">新規投稿の情報を入力</h2>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="new-posts">
          <div class="items-explain">
            <div class="weight-bold-text">
              タイトルを記入してください(必須)
            </div>
            <div class="post-field">
              <%= f.text_area :title, class:"posts-title", id:"post-info", placeholder:"タイトル" %>
            </div>
          </div>
          <div class="items-explain">
            <div class="weight-bold-text">
              投稿文を記入してください(必須)
            </div>
            <div class="post-field">
              <%= f.text_area :text, class:"posts-text", id:"post-info", placeholder:"投稿文" %>
            </div>
          </div>
        </div>
        <div class="img-upload">
          <div class="weight-bold-text">
            投稿画像を選択してください
          </div>
          <label class="file-form">
            ファイルを選択
            <%= f.file_field :image, id:"post-image", class: :file_input %>
          </label>
        </div>
        <div class="psot-detail">
          <div class="grade-form">
            <div class="weight-bold-text">
              科目を選択してください(必須)
            </div>
            <%= f.collection_select(:subject_id, Subject.all, :id, :name, {}, {class:"grade-select"}) %>
          </div>
        </div>
        <div class="post-btn-contents">
          <%= f.submit "投稿する" ,class:"post-create-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>