<div class="header">
  <div class="new-header">
    <%= link_to image_tag("26022021154125A.png", class:"new-logo"), "/" %>
  </div>
  <div class="search-content">
    <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :title, placeholder: "タイトルを検索する", class: "input-box" %>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    <% end %>
  </div>
</div>
<div class="main">
  <div class="left-box">
  </div>
  <div class="center-box">
    <div class="contents row">
      <% @posts.each do |post| %>
        <%= render partial: 'post', collection: @posts %>
      <% end %>
    </div>
  </div>
  <div class="right-box">
  </div>
</div>