<!DOCTYPE html>
<html>
  <head>
    <title>Academiclabo</title>
    <meta name="description" content="Academiclaboは学問を通して人と人を結ぶことを目的として2021年3月に作られました。ユーザーの皆様がAcademiclaboを通してさらにご活躍されることを心からお祈り申し上げます。">
    <meta name="viewport" content="width=devide-width" >
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
